registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
nwjs_urlbase=https://npmmirror.com/mirrors/nwjs/v
devtools_mirror=https://gitclone.com/github.com/vuejs/devtools
disturl=https://npmmirror.com/mirrors/node
